<footer class="bg-black text-light py-4">
  <div class="m-auto container-fluid px-3 px-md-3 px-lg-3 px-xxl-0 py-3" style="max-width: 1400px">
    <div class="row g-5">
      <div class="col-md-6 col-lg-4 d-flex flex-column gap-3">
        <div class="navbar-brand d-flex flex-row align-items-center gap-lg-3">
          <img src="/assets//images/ieee mb white png.png" height="22px" />

          <!-- <p class="m-0 d-sm-block d-none mt-1">Smart World Congress 2025</p> -->
          <p class="m-0 mt-1 fs-4">SWC 2025</p>
        </div>
        <p class="fs-6">
          The IEEE Smart World Congress 2025 (IEEE SWC 2025) will be held from
          August 18 - 22, 2025, in Calgary, Canada, focusing on advancements in
          smart technologies like IoT, AI, smart cities, and cybersecurity.
        </p>
      </div>
      <div class="col-md-3 col-lg-2 d-flex flex-column gap-lg-3">
        <h3 class="fs-4 mt-1">Conferences</h3>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" href="/atc">ATC 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/digitaltwin">Digital Twin 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/metaverse">Metaverse 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/scalcom">ScalCom 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/uic">UIC 2025</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 d-flex flex-column gap-lg-3">
        <h3 class="fs-4 mt-1">Links</h3>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" href="/contact">Contact</a>
          </li>
          <li>
            <a class="dropdown-item" href="/program">Program</a>
          </li>
          <li>
            <a class="dropdown-item" href="/travel/visa-information/"
              >Visa Information</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/travel/ieee-cis-travel-grants/"
              >Travel Grants</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <div
          class="d-flex flex-column gap-2 justify-content-start align-content-start"
        >
          <a href="/cfp" class="btn btn-primary text-decoration-none"
            >Call for Papers and Proposals</a
          >
          <a href="/registration" class="btn btn-success text-decoration-none"
            >Register for SWC 2025</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="container d-flex flex-row justify-content-center align-items-center py-1"
  >
    <p class="m-0">
      &copy; {{ site.time | date: "%Y" }} IEEE Smart World Congress 2025
    </p>
  </div>
</footer>
