<footer class="bg-black text-light py-4">
  <div class="page-section container-fluid px-5 py-3">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="fs-4">Contact</h3>
        <h5 class="fs-6">Coming Soon</h5>
        <!-- <h5 class="fs-6">Venue Address</h5>
                  <h5 class="fs-6">Email</h5>
                  <h5 class="fs-6">Support</h5> -->
      </div>
      <div class="col-sm-4">
        <h3 class="fs-4">Conferences</h3>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" href="/digitaltwin">Digital Twin 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/metaverse">Metaverse 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/scalcom">ScalCom 2025</a>
          </li>
          <li>
            <a class="dropdown-item" href="/uic">UIC 2025</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3 class="fs-4">About</h3>
        <h5 class="fs-6">Coming Soon</h5>
      </div>
    </div>
  </div>
  <div
    class="container d-flex flex-row justify-content-center align-items-center py-1"
  >
    <p class="m-0">
      &copy; {{ site.time | date: "%Y" }} IEEE Smart World Congress 2025
    </p>
  </div>
</footer>
