<nav
  class="navbar navbar-expand-xl navbar-dark bg-black px-sm-3 px-2 fixed-top"
  style="padding-top: 0.9rem !important; padding-bottom: 0.9rem !important"
>
  <div class="container-fluid navbar-content p-0">
    <a
      class="navbar-brand d-flex flex-row align-items-center gap-2"
      href="{{ '/' | relative_url }}"
      ><img src="/assets//images/ieee mb white png.png" height="22px" />

      <!-- <p class="m-0 d-sm-block d-none mt-1">Smart World Congress 2025</p> -->
      <p class="m-0 mt-1">SWC 2025</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Conferences
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/atc">ATC 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/digitaltwin">Digital Twin 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/metaverse">Metaverse 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/scalcom">ScalCom 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/uic">UIC 2025</a>
            </li>
            <li class="border-top mt-2 pt-2">
              <a class="dropdown-item" href="/cfp/">Call for Papers</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Workshops
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li class="">
              <a class="dropdown-item" href="/workshops/iaiddt/">
                IAIDDT 2025</a
              >
            </li>
            <li class="">
              <a class="dropdown-item" href="/workshops/fusion/">
                Fusion 2025
              </a>
            </li>
            <li class="">
              <a class="dropdown-item" href="/workshops/next-gen-networking/">
                Next Generation Networking 2025
              </a>
            </li>
            <li class="">
              <a class="dropdown-item" href="/workshops/sega/"> SEGA 2025 </a>
            </li>
            <li class="border-top mt-2 pt-2">
              <a class="dropdown-item" href="/cfp/">Call for Papers</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Special Sessions
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li class="">
              <a
                class="dropdown-item"
                href="/special-sessions/ai-and-machine-learning/"
              >
                AI and Machine Learning</a
              >
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/special-sessions/5g-enabled-uavs-and-ml-for-iot-uav-networks/"
              >
                5G-Enabled UAV and ML for IOT/UAV Networks
              </a>
            </li>
            <li class="border-top mt-2 pt-2">
              <a class="dropdown-item" href="/cfp/">Call for Papers</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Forums & Panels
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li class="mt-2">
              <span class="dropdown-item-text text-white">Forums</span>
            </li>
            <li class="">
              <a class="dropdown-item" href="/forums/women-in-the-smart-world/">
                Women in the Smart World 2025</a
              >
            </li>
            <li class="border-top mt-2 pt-2">
              <span class="dropdown-item-text text-white">Panels</span>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/panels/ais-transformative-influence-on-higher-education/"
              >
                AI's Transformative Influence on Higher Education</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Keynotes
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/keynotes/chunsheng-yang/"
                >Chunsheng Yang</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/keynotes/giancarlo-fortino/"
                >Giancarlo Fortino</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/keynotes/runhe-huang/"
                >Runhe Huang</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/keynotes/shauna-zenteno/"
                >Shauna Zenteno</a
              >
            </li>
            <li class="border-top mt-2 pt-2">
              <span class="dropdown-item-text text-white"
                >Industry Day Keynotes</span
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/program/industry-day/#jan-bradley-keynote"
                >Jan Bradley</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/program/industry-day/#martin-dinel-keynote"
                >Martin Dinel</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tutorials
          </a>
          <ul class="dropdown-menu dropdown-menu-black dropdown-menu-end">
            <li class="">
              <a class="dropdown-item" href="/tutorials/call-for-tutorials/">
                Call for Tutorials
              </a>
            </li>
            <li class="border-top mt-2 pt-2">
              <a
                class="dropdown-item"
                href="/tutorials/intelligent-network-management-for-next-generation-networks/"
              >
                Intelligent Network Management for Next-Generation Networks
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/tutorials/advances-in-knowledge-graph-computation-in-the-era-of-gen-ai/"
              >
                Knowledge Graph Computation in the Era of Gen AI
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/tutorials/roadmap-of-federated-learning-from-motivation-to-practice/"
              >
                Roadmap of Federated Learning: from Motivation to Practice
              </a>
            </li>
            <li class="">
              <a class="dropdown-item" href="/tutorials/sensing-the-mind/">
                Sensing the Mind
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/tutorials/the-practice-of-using-language-models/"
              >
                The Practice of Using Language Models
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                href="/tutorials/towards-resilient-and-ultrasafe-energy-systems-for-the-next-gen-smart-grid/"
              >
                Towards Resilient and Ultrasafe Energy Systems for the Next-Gen
                Smart Grid
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/program/industry-day/"
            >Industry Day</a
          >
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/program">Program</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About
          </a>
          <ul class="dropdown-menu dropdown-menu-black dropdown-menu-end">
            <li class="mt-2">
              <span class="dropdown-item-text text-white">Venue</span>
            </li>
            <li>
              <a class="dropdown-item" href="/venue/telus-convention-center"
                >Telus Convention Center</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/venue/calgary/"
                >Calgary and Area</a
              >
            </li>
            <li class="border-top mt-2 pt-2">
              <span class="dropdown-item-text text-white">Travel</span>
            </li>
            <li>
              <a class="dropdown-item" href="/travel/accommodation/"
                >Accommodation</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/travel/visa-information"
                >Visa Information</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/travel/ieee-cis-travel-grants"
                >IEEE CIS Travel Grants</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/travel/banff-group-trip/"
                >Banff Group Trip</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/contact"> Contact </a>
        </li>
        <li
          class="nav-item dropdown ms-xl-2 d-flex flex-column justify-content-center align-items-start"
        >
          <a class="btn btn-success" href="/registration/">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
