<nav
  class="navbar navbar-expand-lg navbar-dark bg-black px-sm-3 px-2 fixed-top"
  style="padding-top: 0.9rem !important; padding-bottom: 0.9rem !important"
>
  <div class="container-fluid navbar-content p-0">
    <a
      class="navbar-brand d-flex flex-row align-items-center gap-2"
      href="{{ '/' | relative_url }}"
      ><img src="/assets//images/ieee mb white png.png" height="22px" />

      <p class="m-0 d-sm-block d-none mt-1">Smart World Congress 2025</p>
      <p class="m-0 d-sm-none mt-1">SWC 2025</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ '/' | relative_url }}"
            >Home</a
          >
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/cfp"> Call for Papers </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Conferences
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/atc">ATC 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/digitaltwin">Digital Twin 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/metaverse">Metaverse 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/scalcom">ScalCom 2025</a>
            </li>
            <li>
              <a class="dropdown-item" href="/uic">UIC 2025</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/workshops"> Workshops </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/special-sessions">
            Special Sessions
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/forums/">Forums</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Keynotes
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/keynotes/giancarlo-fortino/"
                >Giancarlo Fortino</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/keynotes/runhe-huang/"
                >Ruhne Huang</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/program"> Program </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Venue
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/venue/telus-convention-center"
                >Telus Convention Center</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/venue/calgary/"
                >Calgary and Area</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Travel
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item" href="/travel/banff-group-trip/"
                >Banff Group Trip</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/travel/ieee-cis-travel-grants"
                >IEEE CIS Travel Grants</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="/contact"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
