/* Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
  }

.jumbotron {
  position: relative;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

footer a:hover {
  text-decoration: underline;
}
