---
layout: default
title: Venue - Calgary
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('/assets/images/jack-carter-_oYcF7p42xM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">Calgary, Alberta, Canada</h1>
      <h3 class="w-75 responsive-width fw-medium text-center">
        The Blue Sky City
      </h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row">
    <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
      <h2 class="mb-2">About Calgary</h2>
      <p class="fs-5">
        Calgary, Alberta, is a dynamic and vibrant city nestled in the foothills
        of the Canadian Rockies. Known for its stunning natural beauty, Calgary
        offers a unique blend of urban sophistication and outdoor adventure. It
        is home to the world-famous Calgary Stampede, often called "The Greatest
        Outdoor Show on Earth," which celebrates the city's rich western
        heritage. Calgary's thriving economy, fueled by industries such as
        energy, technology, and finance, makes it a hub for innovation and
        business. The city boasts an extensive network of parks and pathways,
        including the scenic Bow River pathway system, making it a haven for
        outdoor enthusiasts. With its iconic landmarks like the Calgary Tower,
        the Glenbow Museum, and the TELUS Spark Science Centre, as well as its
        proximity to Banff and Jasper National Parks, Calgary is a destination
        that seamlessly combines culture, recreation, and natural wonders.
      </p>
    </div>
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-row gap-2">
        <a
          href="https://www.calgary.ca/home.html"
          target="_blank"
          class="btn btn-primary w-auto"
          >City of Calgary</a
        >
        <a
          href="https://www.visitcalgary.com/"
          target="_blank"
          class="btn btn-primary w-auto"
          >Tourism Calgary</a
        >
      </div>
    </div>
  </div>
</section>

<div class="page-section px-3"><hr /></div>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row">
    <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
      <h2 class="mb-2">Transportation in Calgary</h2>
      <p class="fs-5">
        Calgary boasts an efficient and accessible transit and transportation
        system designed to connect residents and visitors across the city. The
        Calgary Transit network includes buses and the CTrain, a light rail
        system that serves major destinations, including downtown, shopping
        centers, and key attractions. For visitors, the CTrain's downtown
        free-fare zone makes exploring the city center convenient and
        budget-friendly. Calgary International Airport serves as a major hub,
        offering seamless travel connections both domestically and
        internationally. In addition, the city's extensive pathway system,
        including over 1,000 kilometers of multi-use trails, supports cycling
        and walking, making Calgary a transit-friendly and sustainable urban
        center.
      </p>
    </div>
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-row gap-2">
        <a
          href="https://www.calgarytransit.com/home.html"
          target="_blank"
          class="btn btn-primary w-auto"
          >Calgary Transit</a
        >
      </div>
    </div>
  </div>
</section>

<div class="page-section px-3"><hr /></div>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row">
    <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
      <h2 class="mb-2">Calgary International Airport</h2>
      <p class="fs-5">
        Calgary International Airport is a major hub, providing numerous direct
        flights to and from major cities across North America, Europe, and Asia,
        making it convenient for international and national travelers. The
        airport is approximately 18 kilometers (about 11 miles) from downtown
        Calgary. Travelers can reach the hotel via various transportation
        options including taxis, ride-sharing services (like Uber and Lyft),
        airport shuttles, and public transit. Calgary's C-Train system provides
        efficient public transportation within the city. The nearest C-Train
        station to the Calgary Telus Convention Center is a short walk away,
        offering easy access to various parts of the city.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3 mb-sm-0 d-flex flex-row gap-2">
      <a
        href="https://www.yyc.com/en-us/"
        target="_blank"
        class="btn btn-primary w-auto"
        >Calgary International Airport</a
      >
    </div>
  </div>
</section>

<div class="page-section px-3"><hr /></div>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row">
    <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
      <h2 class="mb-2">Banff and Jasper National Parks</h2>
      <p class="fs-5">
        Located just a short drive from Calgary, Banff, Lake Louise, and Jasper
        are iconic destinations within the Canadian Rockies, renowned for their
        breathtaking natural beauty. Banff, only 90 minutes from Calgary, is a
        picturesque mountain town nestled within Banff National Park, offering
        stunning landscapes, vibrant wildlife, and outdoor adventures
        year-round. Nearby, Lake Louise captivates visitors with its turquoise
        waters surrounded by towering peaks and the majestic Victoria Glacier,
        making it a must-visit destination just two hours from Calgary. Further
        along, Jasper, situated about four and a half hours from Calgary, offers
        a more remote and tranquil experience in Jasper National Park, featuring
        iconic attractions like Maligne Lake, Athabasca Falls, and the Columbia
        Icefield. Together, these destinations provide unparalleled
        opportunities for hiking, skiing, sightseeing, and connecting with
        nature, all easily accessible from Calgary.
      </p>
    </div>
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-row gap-2">
        <a href="/travel/banff-group-trip/" class="btn btn-primary w-auto"
          >Join a Group Trip to Banff</a
        >
        <a
          href="https://www.banfflakelouise.com/"
          target="_blank"
          class="btn btn-primary w-auto"
          >Learn more Banff & Lake Louise</a
        >
        <a
          href="https://www.jasper.travel/"
          target="_blank"
          class="btn btn-primary w-auto"
          >Learn more Jasper</a
        >
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
