<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | escape }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- Google Font: Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-black px-5 fixed-top"
      style="padding-top: 0.9rem !important; padding-bottom: 0.9rem !important"
    >
      <div class="container-fluid page-section p-0">
        <a
          class="navbar-brand d-flex flex-row align-items-center gap-2"
          href="{{ '/' | relative_url }}"
          ><img src="/assets//images/ieee mb white png.png" height="22px" />
          <p class="m-0 d-sm-block d-none">Smart World Congress 2025</p><p class="m-0 d-sm-none">SWC 2025</p></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ '/' | relative_url }}"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Call for Papers
              </a>
              <ul class="dropdown-menu dropdown-menu-black">
                <li>
                  <a class="dropdown-item" href="#">Coming Soon</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Conferences
              </a>
              <ul class="dropdown-menu dropdown-menu-black">
                <li><a class="dropdown-item" href="#">Coming Soon</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Venue
              </a>
              <ul class="dropdown-menu dropdown-menu-black">
                <li><a class="dropdown-item" href="#">Coming Soon</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Program
              </a>
              <ul class="dropdown-menu dropdown-menu-black">
                <li><a class="dropdown-item" href="#">Coming Soon</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text-white"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Travel
                </a>
                <ul class="dropdown-menu dropdown-menu-black">
                  <li>
                    <a class="dropdown-item" href="#">Coming Soon</a>
                  </li>
                </ul>
              </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About
              </a>
              <ul class="dropdown-menu dropdown-menu-black">
                <li>
                  <a class="dropdown-item" href="#">Coming Soon</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main>{{ content }}</main>

    <!-- Footer -->
    <footer class="bg-black text-light py-4">
      <div class="page-section container-fluid px-5 py-3">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="fs-4">Contact</h3>
            <h5 class="fs-6">Coming Soon</h5>
            <!-- <h5 class="fs-6">Venue Address</h5>
                    <h5 class="fs-6">Email</h5>
                    <h5 class="fs-6">Support</h5> -->
          </div>
          <div class="col-sm-4">
            <h3 class="fs-4">Conferences</h3>
            <h5 class="fs-6">Coming Soon</h5>
          </div>
          <div class="col-sm-4">
            <h3 class="fs-4">About</h3>
            <h5 class="fs-6">Coming Soon</h5>
          </div>
        </div>
      </div>
      <div
        class="container d-flex flex-row justify-content-center align-items-center py-1"
      >
        <p class="m-0">
          &copy; {{ site.time | date: "%Y" }} IEEE Smart World Congress 2025
        </p>
      </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
