---
layout: default
title: Accommodation
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center mb-5"
  style="
    background-image: url('/assets/images/patrik-jensen-_QOR7cwVDik-unsplash.jpg');
    background-size: cover;
    background-position: 50% 20%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        IEEE Smart World Congress 2025<br />
        Accommodation
      </h1>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pb-5 d-flex flex-column gap-2"
>
  <div class="row g-5">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-1">Hotels</h2>
      <div class="card p-4 bg-light">
        <h3>Hyatt Regency Calgary</h3>
        <p class="fs-5">
          Group rates available at the Hyatt Regency Calgary <br />
          700 Centre Street SE <br />
          Calgary, Alberta T2G 5P6 Canada
        </p>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <a
            class="btn btn-primary"
            href="https://www.hyatt.com/en-US/group-booking/CALRC/G-SWC5"
            target="_blank"
            >Make a Reservation at Hyatt Regency</a
          >
        </div>
      </div>
      <div class="card p-4 bg-light">
        <h3>Calgary Marriott Downtown</h3>
        <p class="fs-5">
          $229.00 CAD per night - Last Day to Book : Wednesday, July 23, 2025
          <br />
          110 9 Ave SE <br />
          Calgary, Alberta T2G 0P5 Canada
        </p>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <a
            class="btn btn-primary"
            href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1750967290097&key=GRP&app=resvlink"
            target="_blank"
            >Make a Reservation at Marriott</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
